<p>Привет <%= @resource.email %>!</p>

<p>Вы получили это письмо, поскольку был сделан запрос на
  восстановление вашего пароля в форуме по адресу
  <%= link_to URI(root_url).host, root_url %>.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если запрос о смене пароля сделали не Вы, просто проигнорируйте это сообщение.</p>
